<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>design.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EA45D46A21922F4C0050FDC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA45D47E21922F4E0050FDC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA45D48921922F4E0050FDC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
